.calendar {
  margin: 100px auto;
  width: 1000px;
}

.fc-content {
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 5px;
}

.description-popup {
  position: fixed;
  background-color: #163C5B;
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
}